body {
    background-color:rgb(153, 152, 152);
}

h1 {
    font-size: 30px;
    text-align: center;
}

#calc {
    font-size: 20px;
    text-align: left;
}

#calcular {
    font-size: 20px;
}

.resultado {
    font-size: 20px;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    justify-content: left;
   align-items: center;
}
hr{
    border-color: black;
    
}
#tela{
    width: 800px;
    height: 400px;
    margin: auto;
    border: 4px solid black;
    border-radius: 20px;
}
#telainterna{
    width: 790px;
    height: 390px;
    margin: auto;
    border: 0px solid black;
    border-radius: 20px;
}
.tamanho{
    width: 780px;
}
.tamanho2{
    width: 785px;
}
#res {
    font-size: 30px;
   justify-content: center;
   align-items: center;
}